.header-container {
    max-width: 100%;
    height: 6dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background-color: #d1d1d1;
}

.header-container h1 {
    font-size: 2rem;
    font-weight: 400;
}

.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #4c4c4c;
    gap: 1rem;
}

.header-button .button-icon {
    font-size: 45px;
    color: #4c4c4c;
    filter: drop-shadow(2px 3px 4px #4c4c4c);
}